
<html>
<head>
<meta charset="UTF-8">
<title>Images à afficher</title>
</head>
<body>
<h2>Images à afficher :</h2>

<p>Image 1 <input type="checkbox" id="check1"></p>
<p>Image 2 <input type="checkbox" id="check2"></p>
<p>Image 3 <input type="checkbox" id="check3"></p>
<button onclick="displayImages()">Afficher</button>

<div>
    <img id="img1" src="/static/image/chat1.jpg" alt="imag1">
    <img id="img2" src="/static/image/chat2.jpg" alt="imag2">
    <img id="img3" src="/static/image/chat3.jpg" alt="imag3">
</div>

<script>
window.onload = function() {
    const img1 = document.getElementById('img1');
    const img2 = document.getElementById('img2');
    const img3 = document.getElementById('img3');
    img1.style.display = "none";
    img2.style.display = "none";
    img3.style.display = "none";
}

function displayImages() {
    const imag1 = document.getElementById('imag1');
    const imag2 = document.getElementById('imag2');
    const imag3 = document.getElementById('imag3');
    const img1 = document.getElementById('img1');
    const img2 = document.getElementById('img2');
    const img3 = document.getElementById('img3');

    img1.style.display = imag1.checked ? "block" : "none";
    img2.style.display = imag2.checked ? "block" : "none";
    img3.style.display = imag3.checked ? "block" : "none";
}
</script>
</body>
</html>
