<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:rgba(200,200,200, 0.5)">
<circle id="foo" style="fill:orange; stroke:black; stroke-width:2px;" cx="100" cy="145" r="40" />
<circle id="foo" style="fill:yellow; stroke:black; stroke-width:2px;" cx="150" cy="165" r="40" />
<circle id="foo" style="fill:green; stroke:black; stroke-width:2px;" cx="200" cy="145" r="40" />
<circle id="foo" style="fill:lightblue; stroke:black; stroke-width:2px;" cx="250" cy="155" r="40" />
<circle id="foo" style="fill:blue; stroke:black; stroke-width:2px;" cx="300" cy="185" r="40" />
<circle id="foo" style="fill:purple; stroke:black; stroke-width:2px;" cx="350" cy="155" r="40" />
<circle id="foo" style="fill:red; stroke:black; stroke-width:2px;" cx="400" cy="185" r="40" />
  </svg>

</body>
</html>
