<!doctype html>
<title>CryptoPython</title>
<h1>Bienvue dans votre atelier Exercice1 !</h1>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texte avec différentes tailles</title>
</head>
<body>
    <p>
        <span style="font-size: 40px;">Titre de niveau 1.</span><br>
        <span style="font-size: 30px;">Titre de niveau 2.</span><br>
        <span style="font-size: 20px;">Titre de niveau 3.</span><br>
        <span style="font-size: 20px;">Titre de niveau 3.</span><br>
        <span style="font-size: 30px;">Titre de niveau 2.</span><br>
        <span style="font-size: 40px;">Titre de niveau 1.</span><br>
    </p>
</head>
<body>
    <p>
        Texte en <b>gras</b>, texte en <i>italique</i>, texte <u>souligné</u>.
    </p>
</body>
</html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple de lien</title>
</head>
<body>
    <p>
        lien vers <a href="actualite.html">l'actualité</a>.
    </p>
</body>
</html>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple de lien email</title>
</head>
<body>
    <p>
        Ecrivez-moi à <a href="spastore2@free.fr">spastore2@free.fr</a>.
    </p>
</body>
</html>
