<!doctype html>
<title>CryptoPython</title>
<h1>Bienvue dans votre atelier Exercice1 !</h1>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texte avec différentes tailles</title>
</head>
<body>
    <p>
        <span style="font-size: 20px;">Ceci est un texte de taille 20px.</span><br>
        <span style="font-size: 30px;">Ceci est un texte de taille 30px.</span><br>
        <span style="font-size: 40px;">Ceci est un texte de taille 40px.</span><br>
        <span style="font-size: 50px;">Ceci est un texte de taille 50px.</span>
    </p>
</body>
</html>
