<!doctype html>
<title>CryptoPython</title>
<h1>Bienvue dans votre atelier Exercice_2 !</h1>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple de tableau</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Un tableau</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>À 6</td>
            <td>Cases</td>
        </tr>
    </table>
</body>
</head>
<body>
    <ol>
        <li>
            Premier point
            <ul>
                <li>Rubrique 1</li>
                <li>Rubrique 2</li>
            </ul>
        </li>
        <li>Deuxième point</li>
        <li>
            Troisième point
            <ul>
                <li>Rubrique 1</li>
                <li>Rubrique 2</li>
            </ul>
        </li>
    </ol>
</body>
</html>
