<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:rgba(200,200,200, 0.5)">
<rect style="fill:green; stroke:none; stroke-width:0px;" x="0" y="530" width="750" height="300" />
<rect style="fill:grey; stroke:black; stroke-width:2px;" x="400" y="530" width="120" height="300" />
<rect style="fill:orange; stroke:black; stroke-width:3px;" x="230" y="230" width="300" height="300" />  
<polygon style="fill:red; stroke:black; stroke-width:3px;" points="230 230, 375 130, 530 230"/>
<rect style="fill:red; stroke:black; stroke-width:3px;" x="260" y="160" width="20" height="50" />
<circle id="foo" style="fill:lightblue; stroke:black; stroke-width:2px;" cx="370" cy="190" r="30" />
<rect style="fill:brown; stroke:black; stroke-width:3px;" x="415" y="380" width="80" height="150" />
<rect style="fill:lightblue; stroke:black; stroke-width:3px;" x="270" y="300" width="80" height="70" />
<circle id="foo" style="fill:yellow; stroke:black; stroke-width:2px;" cx="670" cy="70" r="40" />
  
</svg>

</body>
</html>
