<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:rgba(200,200,200, 0.5)">
<carré style="fill:yellow; stroke:black; stroke-width:3px;" x="230" y="230" width="300" height="300" />  
<toit style="fill:red; stroke:black; stroke-width:3px;" points="230 230, 370 130, 730 230"/>
<fenetrecircle id="foo" style="fill:lightblue; stroke:black; stroke-width:5px;" cx="375" cy="145" r="20" />
<rect style="fill:green; stroke:blue; stroke-width:30px;" x="230" y="300" width="290" height="150" />
<polygon style="fill:green; stroke:blue; stroke-width:3px;" points="0 0, 100 100, 0 100"/>
</svg>

</body>
</html>
